@model IEnumerable<CharacterRoller.Models.Race>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                <P>Race</P>
            </th>
            <th>
                <p>Ability Score Improvements</p>
            </th>
            <th>
                <p>Features</p>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>

            <td>
                @foreach(var feature in item.raceFeatures)
                {
                    <b>@feature.raceFeatureId.Remove(0, item.Id.Length)</b>
                    @feature.Feature <br />
                }
            </td>
        </tr>
}
    </tbody>
</table>
